<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Blog</title>
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' crossorigin="anonymous"/>
	<link rel='stylesheet' href='/stylesheets/blog.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header id="header" class="header"></header>
	<div class="main">
		<div class="row">
			<div class="col-md-3">
				<div class="technology-report">
					<div class="blogs-head">
						<span>Old Blogs</span>
					</div>
					<div class="blog-links">
						<ul style="list-style-type:none">
							<li><a href="#">Rumor: Acer Triton 700 may use an unreleased Pascal GPU</a></li>
							<li><a href="">Silverstone Vital VT02 could hold a Core i7 in under two
								liters</a></li>
							<li><a href="">Galax and KFA2 induct the GTX 1080 Ti into the Hall of
								Fame</a></li>
							<li><a href="">Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
							<li><a href="">Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</a></li>
							<li><a href="">Acer's Aspire GX-281 lineup brings Ryzen to the masses</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="post-section">
					<div class="post">
						<h2 class="title">Share your unique style with new Blogger
							themes</h2>
						<div class="post-header">
							<span>March 20, 2017</span>
						</div>
						<div class="post-body">
							<span>If you’re one of the millions of people who uses
								Blogger to share your views on current affairs, teach the world
								how to make sushi, or just offer a peek into your day, then you
								know how important it is to be able to put your personal stamp
								on your blog. After all, your blog isn’t just a place you share,
								it’s a reflection of who you are and the impression you’d like
								to leave with your readers. To make it easier for you to express
								your unique style, we’ve created a new set of blog themes for
								you to choose from. Each theme comes in a variety of colors, is
								fully customizable, and can be added to your blog with just a
								few clicks.</span><span><img class="imagepart"
								src="/images/blog1.png"></span><span> These themes aren’t
								only designed to look great, they’re designed to work great too.
								Each one has been built to automatically adjust to any screen
								and load quickly, so you can rest assured that your readers will
								be able to easily see your work whether they’re on a computer,
								phone or tablet.</span>
						</div>
						<div class="post-footer"></div>
					</div>
					<div class="post">
						<h2 class="title">A first few tweaks toward a better Blogger</h2>
						<div class="post-header">
							<span>November 22, 2016</span>
						</div>
						<div class="post-body">
							<span>From New York to Jakarta, Blogger is one of the most
								popular ways to publish the things you’re passionate about.
								Still, we’ve heard that there’s more we can do to make the
								platform a better place to have your unique voice be heard. So
								we’ll be making some adjustments over time to bring you a
								faster, easier to use and more beautiful Blogger. To kick things
								off, we’ve taken a crack at simplifying Blogger’s dashboard so
								that it’s easier for you to get right to the tools you need.
								Now, whenever you open Blogger, you’ll be taken right to your
								blog with the most recent post, putting you one click or tap
								closer to drafting something new.</span>
						</div>
						<div class="post-footer"></div>
					</div>
					<div class="post">
						<h2 class="title">More custom template flexibility</h2>
						<div class="post-header">
							<span>March 20, 2017</span>
						</div>
						<div class="post-body">
							<span>Last May, we added some expressions to our
								templating language to make it easier for you to customize your
								blog’s look and feel. These new expressions proved popular with
								those of you who enjoy advanced blogging tools, so we wanted to
								offer you even more flexibility. Starting today, we’re
								introducing a new set of operators, which we’re calling lambda
								expressions, that allow you to apply rules to whole sets of data
								(think posts, comments, or labels), rather than just individual
								instances. Let’s say you wanted to add a flower image to all
								posts with the label “Flower,” for example. With lambda
								expressions, simply define a variable name that each item in the
								set will take, and then refer to the variable name as though it
								were each item.</span>
						</div>
						<div class="post-footer"></div>
					</div>
					<div class="post">
						<h2 class="title">Keep your readers interested with the
							AdSense Guide to Audience Engagement</h2>
						<div class="post-header">
							<span>March 20, 2017</span>
						</div>
						<div class="post-body">
							<span>Today, information is at our fingertips and we can
								access it from anywhere on any device. Just a few taps pull up
								millions of websites all competing for our attention. For
								bloggers, engaging with your audience has never been more
								important or more challenging.</span><span><img
								class="imagepart" src="/images/blog2.jpg"></span><span> To
								help lay the foundation to a winning engagement strategy, the
								AdSense team created the AdSense Guide to Audience Engagement.
								To help keep your audience engaged, get your free copy of the
								AdSense Guide to Audience Engagement.</span>
						</div>
						<div class="post-footer"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="technology-report">
					<div class="report-head">
						<span>Latest Stuff</span>
					</div>
					<div class="reports">
						<ul>
							<li>Rumor: Acer Triton 700 may use an unreleased Pascal GPU</li>
							<li>Silverstone Vital VT02 could hold a Core i7 in under two
								liters</li>
							<li>Galax and KFA2 induct the GTX 1080 Ti into the Hall of
								Fame</li>
							<li>Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</li>
							<li>Acer's Aspire GX-281 lineup brings Ryzen to the masses</li>
							<li>Deals of the week: discounts on CPUs, mobos, and more</li>
							<li>Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat</li>
							<li>Acer Predator Triton and Helios laptops are ready for
								serious play</li>
							<li>Intel enjoys healthy revenue and profits for Q1 2017</li>
							<li>Galax and KFA2 induct the GTX 1080 Ti into the Hall of
								Fame</li>
							<li>Silverstone Vital VT02 could hold a Core i7 in under two
								liters</li>
							<li>Deals of the week: discounts on CPUs, mobos, and more</li>
							<li>Asetek gets $600,000 from Cooler Master in AIO cooler
								patent spat, induct the GTX 1080 Ti into the Hall of Fame</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer navbar-inverse bg-inverse" id="footer"></footer>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/tether/dist/js/tether.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/javascripts/initialize.js" defer></script>
</body>
</html>