<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Team Awesome Portfolio</title>

  <!-- Stylesheet Library -->
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'  crossorigin="anonymous"/>

  <!-- Stylesheet Custom -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<header id="header" class="header"></header>
<div class="main">
  <div class="container">
    <!-- Page Content goes here -->
  </div>
</div>
<footer class="footer navbar-inverse bg-inverse" id="footer">
</footer>

<!-- Script Library -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/tether/dist/js/tether.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- Initialize Scripts -->
<script src="/javascripts/initialize.js" defer></script>
</body>
</html>
