<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Locations</title>
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'  crossorigin="anonymous"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/location.css' />
  <!--<link rel='stylesheet' href='/stylesheets/bigdata.css' />-->

  <script src="/javascripts/location.js"></script>

</head>
<body>
<header id="header" class="header"></header>

<div class="main">

  <div class="row">

    <div class="col">

      <div class="row">

        <div class="col headingtext">
          <span><h4>Locations</h4></span>
        </div>

      </div>

      <div class="row">

        <div class="col-md-2">
        </div>

        <div class="col-md-4">
          <span>

            Centers for Global Software Development <br> &amp; Sarasvathy Learning Centers:: Fremont <br>
            628 Crescent Terrace,<br>
            Fremont, CA 94536<br>  
            USA
          </span>
        </div>

        <div class="col-md-4">
          <span>

            Centers for CTO Office:: Secunderabad<br>
            1-14/50, Minister Road,<br>
            Secunderabad, T.S,<br>
            India<br>

          </span>
        </div>

        <div class="col-md-2">
        </div>

      </div>

      <div class="row">
       
       <div class="col-md-2">
        </div>

       <div class="col-md-4">
        <div class="mapcontainer">
          <div class="textboxcontainer">
            <div>628 Crescent Terrace,<br>
            Fremont, CA 94536</div>
          </div>
          <div id="map1" class="map1setting"> 
          </div>
        </div>
       </div>

       <div class="col-md-4">
        <div class="mapcontainer">
          <div class="textboxcontainer">
            <div>1-14/50, Minister Road,<br>
            Secunderabad, T.S,
            </div>
          </div>
          <div id="map2" class="map2setting"> 
          </div>
        </div>
       </div>

       <div class="col-md-2">
        </div> 

      </div>

    </div>

  </div>  
</div>
          


<footer class="footer navbar-inverse bg-inverse" id="footer"></footer>
<!-- Script Library -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/tether/dist/js/tether.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- Initialize Scripts -->
<script src="/javascripts/initialize.js" defer></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd1uEOinxBFiGPy9ZlrMT-S-Sztxzapvo&callback=initMap">
  </script>


</body>
</html>