<div class="container">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/webdesign" data-widget-id="858096360024821760">#webdesign Tweets</a>
    <div class="footer-content-container">
        <div class="copyrights-text-footer">Copyrights - Team Awesome 2017</div>
    </div>
</div>
<script defer>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>