<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse tall-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Team Awesome
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/products" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="productsDropdown">
                    <a class="dropdown-item" href="#">Mobile</a>
                    <a class="dropdown-item" href="big_data.ejs">Big Data</a>
                    <a class="dropdown-item" href="iot.ejs">IOT</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/aboutus" id="aboutusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutusDropdown">
                    <a class="dropdown-item" href="#">Management</a>
                    <a class="dropdown-item" href="#">Code of Conduct</a>
                    <a class="dropdown-item" href="#">Business Process</a>
                    <a class="dropdown-item" href="#">Locations</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blog.ejs">Blog</a>
            </li>
        </ul>
    </div>
</nav>